---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const pageTitle = "About Me";

const identity = {
    firstName : "Ramiro",
    lastName : "Storni",
    country : "Argentia",
    occupation : "Robotics Engineer",
    hobbies : ["art", "programing", "food"]
};

const skills = ["eating", "drinking", "jumping"];

const happy = true;
const finished = false;
const goal = 3

const skillColor = "blueviolet";
const fontWeight = "bold";
const textCase = "uppercase";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{skillColor, fontWeight, textCase}}>
            h1 {
              color: blueviolet;
              font-size: 4rem;
            }
            .skills{
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);;
            }
        </style>
	</head>
	<body>
        <Header />
        <h1>{pageTitle}:</h1>

		<p>
			I am a senior at Bowdoin College graduating in May 2023, 
			with a degree in computer science and art history, currently 
			looking for post-graduation software engineering and robotics 
			opportunities.
		</p>

        <p>Here are a few facts about me!</p>
        <ul> 
            <li>My fist name is {identity.firstName}.</li>
            <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
            {identity.hobbies.length >= 2 &&
            <li>Two of my hobbies are {identity.hobbies[0]} and {identity.hobbies[1]}</li>
            }
        </ul>

        <p>My skils are:</p>
        <ul>
            {skills.map((skills) => <li class="skills">{skills}</li>)}
        </ul>

        {happy && <p>I am Happy to be learning astro</p>}
        {finished && <p> I am finshed learning astro but not really</p>}
        {goal === 3 ? <p> my goal is to finsh in three days</p> : <p> My goal is not three days</p>}

        <Footer />
	</body>
</html>